# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ar_Computer_Education.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\24play\Template\Ar_Computer_Education\.idea\.idea.Ar_Computer_Education\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
